{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='style/style_only_form.css') }}">
{% endblock%}


{% block body %}



    <form action="/atualiza_turma" method="POST">
        <input type="hidden" name="cod_turma" value="{{turma['cod']}}">
        
        <label for="professores">Escolha um professor</label>
        <select name="professor" id="professores">
            {% for professor in lista_professores %}
                <option value="{{ professor['cod'] }}">{{ professor['nome'] }}</option>
            {% endfor %}
        </select>

        <input type="text" name="numero_turma" placeholder="Numero da turma">
        <input type="text" name="periodo" placeholder="Periodo">
        <input type="submit" placeholder="Criar">
    </form>

{% endblock %}